<div class="col-12 mb-5 text-just">
    <p class="large">We, the young people participating in the ArchKL Young People’s Assembly (AYPA2019), 
        from the 9th to the 12th of August 2019 in Majodi Center, Johor; worked together in friendship with 
        Christ and each other, to have our voices heard. 
        As the <i>NOW</i> of God<a id="tn-1" class="ftn superscript" href="#">[1]</a>, we rediscovered our commitment to be 
        Christ’s witnesses in the world. 
        We built bridges with each other regardless of our backgrounds, 
        and we looked for creative ways young people can be alive in the Church.
    </p> 
    <br>
    <h5><i>Rediscovering our role in community</i></h5>
    <p>
        The Holy Father reminds us, 
        <i>
            “Your spiritual growth is expressed above all by your growth in fraternal, generous and merciful love<a id="tn-2" class="ftn superscript" href="#">[2]</a>”
        </i>. 
        Therefore, we see the Church as a place where intergenerational connections are established; 
        where we can learn from our families and leaders while being empowered to make decisions<a id="tn-3" class="ftn superscript" href="#">[3]</a>. 
        Our growth in life relies on the wisdom and nurturing of the community as we 
        continue being inspired to live out our faith in these modern times.
    </p>

    <p>
        Our lives as young people in a digitalised culture enables us to find new ways of being in community. 
        The digital world is a great avenue to freely express our thoughts and views. 
        These expressions allow us the potential to be influencers in society today. 
        We acknowledge that digital opportunities to connect are extensive due to their convenience and availability. 
        However, we must find ways to pass from mere virtual contact to good and healthy communication<a id="tn-4" class="ftn superscript" href="#">[4]</a> that leads to life-giving friendships<a id="tn-5" class="ftn superscript" href="#">[5]</a>. 
        We long for a respectful, open-minded, and inclusive community in the digital as well as the physical world.
    </p>
<br>
    <h5><i>Recognising the ‘whole’ person</i></h5>

    <p>
        We are ever thankful to God for His merciful love for us through His Church, 
        especially with the changing climate in the world of the young today. 
        We hope that the church will recognise the 'whole' person, 
        the unique journey each person is on and its challenges. 
        Pastoral care givers need to have a greater consideration for the mental well-being of young people. 
        Formation on skills to address mental health issues would be essential so that the Church 
        becomes a place where we find comfort in our vulnerability.
    </p>

    <p>
        We are grateful for the many opportunities we have to respond to God<a id="tn-6" class="ftn superscript" href="#">[6]</a>, 
        the relationships that allow us to grow, and the avenues we have to share our gifts and talents. 
        However, we desire for the Church to be more open to our new ideas and allow space for growth. 
        We need the Church community to be a home where our deepest selves<a id="tn-7" class="ftn superscript" href="#">[7]</a> 
        can be discovered, expressed and lived. 
        Perhaps, adopting a combination of conventional and non-conventional (out of the box) methods in reaching out to young people may nurture a sense of belonging. 
        This suggests an inclusion of sports and creative arts<a id="tn-8" class="ftn superscript" href="#">[8]</a>
         alongside sacraments, liturgy, prayer, and faith formation.
    </p>

    <br>
    <h5><i>Accompanying us on our journey</i></h5>
    <p>
        Young people are full of hope, possibilities and adaptability to change. 
        We acknowledge the many challenges that may distract us from living the fullness of our identity as a child of God. 
        Therefore, through accompaniment and encouragement from the Church, 
        which is grounded in the richness of our faith, we hope to continually live in the freedom of who God created us to be. 
        We need accompaniers<a id="tn-9" class="ftn superscript" href="#">[9]</a> 
        with formation and pastoral exposure to create a safe space<a id="tn-10" class="ftn superscript" href="#">[10]</a> 
        and respectfully journey with us in our discernment to discover the ultimate intention Christ calls us to<a id="tn-11" class="ftn superscript" href="#">[11]</a>. 
        We desire for these accompaniers to be dedicated, objective, understanding, authentic, supportive, 
        and role models of Christian living.
    </p>
    <br>
    <h5><i>Responding to Christ who is Alive!</i></h5>
    <p>
        We embrace the calling of the Holy Father to 
        <i>
            ‘learn to swim against the tide, learn how to share Jesus and the faith he has given you’<a id="tn-12" class="ftn superscript" href="#">[12]</a>
        </i>. 
        With the gifts we have received through the sacraments, 
        may we find the courage to be a Christ-centred force<a id="tn-13" class="ftn superscript" href="#">[13]</a> in the digital and physical world; 
        in the various places where we live, work, and love<a id="tn-14" class="ftn superscript" href="#">[14]</a>.
    </p>
    <p>
        May we never forget 
        <i>
            "Christ is alive and he wants you to be alive! 
            He is in you, he is with you and he never abandons you<a id="tn-15" class="ftn superscript" href="#">[15]</a>. 
            However far you may wander, he is always there, the Risen One. 
            He calls you and he waits for you to return to him and start over again. 
            When you feel you are growing old out of sorrow, resentment or fear, doubt or failure, 
            he will always be there to restore your strength and your hope."<a id="tn-16" class="ftn superscript" href="#">[16]</a>
        </i>
    </p>
    <br>
    <p>August 9th to 12th 2019, Majodi Centre, Johor.</p>

    <hr>
    <p class="small-text mb-0"><a id="ftn-1" class="ftn ftn-tab" href="#">[1]</a><a target="_blank"href="http://w2.vatican.va/content/francesco/en/apost_exhortations/documents/papa-francesco_esortazione-ap_20190325_christus-vivit.html">Christus Vivit</a> 178</p>
    <p class="small-text mb-0"><a id="ftn-2" class="ftn ftn-tab" href="#">[2]</a><a target="_blank"href="http://w2.vatican.va/content/francesco/en/apost_exhortations/documents/papa-francesco_esortazione-ap_20190325_christus-vivit.html">Christus Vivit</a> 163</p>
    <p class="small-text mb-0"><a id="ftn-3" class="ftn ftn-tab" href="#">[3]</a>Most Rev. Julian Leow, AYPA 2019. We listen, discern and decide together.</p>
    <p class="small-text mb-0"><a id="ftn-4" class="ftn ftn-tab" href="#">[4]</a><a target="_blank"href="http://w2.vatican.va/content/francesco/en/apost_exhortations/documents/papa-francesco_esortazione-ap_20190325_christus-vivit.html">Christus Vivit</a> 90</p>
    <p class="small-text mb-0"><a id="ftn-5" class="ftn ftn-tab" href="#">[5]</a>Rev. Fr. Simon Lau, AYPA 2019. Our relationships (and friendships) are rooted in the passion and love that comes from the gift of our sexuality.</p>
    <p class="small-text mb-0"><a id="ftn-6" class="ftn ftn-tab" href="#">[6]</a><a target="_blank"href="http://w2.vatican.va/content/francesco/en/apost_exhortations/documents/papa-francesco_esortazione-ap_20190325_christus-vivit.html">Christus Vivit</a> 257</p>
    <p class="small-text mb-0"><a id="ftn-7" class="ftn ftn-tab" href="#">[7]</a>Our true identity in Christ</p>
    <p class="small-text mb-0"><a id="ftn-8" class="ftn ftn-tab" href="#">[8]</a>Creative arts; dance, music, performance, visual art, movements, drama.</p>
    <p class="small-text mb-0"><a id="ftn-9" class="ftn ftn-tab" href="#">[9]</a>Accompaniers include spiritual mentors, directors, role models, elders of the church, pastoral directors, counsellors</p>
    <p class="small-text mb-0"><a id="ftn-10" class="ftn ftn-tab" href="#">[10]</a>A space that is secure, accepting and free of judgement</p>
    <p class="small-text mb-0"><a id="ftn-11" class="ftn ftn-tab" href="#">[11]</a><a target="_blank"href="http://w2.vatican.va/content/francesco/en/apost_exhortations/documents/papa-francesco_esortazione-ap_20190325_christus-vivit.html">Christus Vivit</a> 294</p>
    <p class="small-text mb-0"><a id="ftn-12" class="ftn ftn-tab" href="#">[12]</a><a target="_blank"href="http://w2.vatican.va/content/francesco/en/apost_exhortations/documents/papa-francesco_esortazione-ap_20190325_christus-vivit.html">Christus Vivit</a> 176</p>
    <p class="small-text mb-0"><a id="ftn-13" class="ftn ftn-tab" href="#">[13]</a>A Christ-centred force as protagonists of change, a transformative energy, Christus Vivit 174</p>
    <p class="small-text mb-0"><a id="ftn-14" class="ftn ftn-tab" href="#">[14]</a>Rev. Fr. Gregory Chan, AYPA 2019. We’re called to be integrated not assimilated.</p>
    <p class="small-text mb-0"><a id="ftn-15" class="ftn ftn-tab" href="#">[15]</a><a target="_blank"href="https://www.catholic.org/bible/book.php?bible_chapter=28&id=47">Matthew 28</a>:20 “And look, I am with you always; yes, to the end of time”</p>
    <p class="small-text mb-0"><a id="ftn-16" class="ftn ftn-tab" href="#">[16]</a><a target="_blank"href="http://w2.vatican.va/content/francesco/en/apost_exhortations/documents/papa-francesco_esortazione-ap_20190325_christus-vivit.html">Christus Vivit</a> 1-2</p>
</div>

<div class="col-12 mb-5">
    Drafters:
    <ol class="split-2">
        <li>Carmellmytra Nelson, KL South District</li>
        <li>Melissa Teresa Neoh, KL North District</li>
        <li>Aisling Ong, KL North District</li>
        <li>Candace Cheah, KL Central District</li>
        <li>Shannon Christopher, KL Central District</li>
        <li>Jassmine Roy, Negeri District</li>
        <li>Dennis Christopher Jacob, Klang District</li>
        <li>Chermaine Denise Raj, ASAYO KL</li>
        <li>Jacinta Claire Fernandez, ASAYO KL</li>
    </ol>
</div>

