    

</div>  <!-- container -->
<div class="bg-dark container-fluid mt-5 pt-5">
    <div class="row">
        <div class="col-lg-4 col-12 mb-5 order-3 order-lg-1">
            <p class="text-center">Sponsored By:</p>
            <div class="row justify-content-center align-items-center">
                <div class="col-3">
                    <img class="w-100" src="/Images/archkl.png">
                </div>
            </div>
            
        </div>
        <div class="col-lg-4 col-12 mb-5 order-2">
            <div class="web-map text-center text-lg-left">
                <p>Contact Us:</p>
                <br>
                <p class="text-center text-lg-left">
                    Level 5, Archdiocesan Pastoral Centre, <br>
                    Church of St. Anthony, 5, Jalan Robertson, <br>
                    Bukit Bintang, 50150 Kuala Lumpur, <br>
                    Wilayah Persekutuan Kuala Lumpur
                </p>

                <!-- <a id="contact">Contact Us</a> -->
                <p>Email: <a href="mailto:info@asayokl.my">info@asayokl.my</a></p>
                
                <div class="row justify-content-around">
                    <div class="col-2">
                        <a href="https://www.facebook.com/pg/AsayoKualaLumpur/about/?entry_point=page_edit_dialog&tab=page_info" target="_blank"><img src="/Images/icon_Facebook.png" class="w-100"></a>
                    </div>
                    <div class="col-2">
                        <a href="https://www.instagram.com/asayo_kl/" target="_blank"><img src="/Images/icon_Instagram.png" class="w-100"></a>
                    </div>
                    <div class="col-2">
                        <a href="https://twitter.com/asayo_kl" target="_blank"><img src="/Images/icon_Twitter.png" class="w-100"></a>
                    </div>
                    <div class="col-2">
                        <a href="https://www.youtube.com/channel/UCYYMs6KKetfDXo2HNOaiyMg" target="_blank"><img src="/Images/icon_Youtube.png" class="w-100"></a>
                    </div>
                    <div class="col-2">
                        <a href="https://wa.me/60185903889" target="_blank"><img src="/Images/icon_Whatsapp.png" class="w-100"></a>
                    </div>
                    <div class="col-2">
                        <a href="https://t.me/asayokl" target="_blank"><img src="/Images/icon_Telegram.png" class="w-100"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12 mb-5 order-1 order-lg-3">
            <div class="web-map text-center text-lg-left">
                <p>About Us:</p>
                <br>
                <a href="home">Home</a>
                <a href="team">Team</a>
                <a href="calendar">Calendar</a>
                <a href="pestakami">Pesta K.A.M.I. ArchKL 2021</a>
                <a href="hangout">Hangout</a>
                <a href="reachout">Reachout</a>
                <a href="checkin">Checkin</a>
                <a href="aypa">AYPA 2019</a>
                <a href="archive">Archive</a>
                <a href="resources">Resources</a>
            </div>
            
        </div>
    </div>
</div>



</html>