<div class="mb-5">
    <h5>How has the Church supported you on the selected issues above in the past?</h5>
    <div>
        <label class="d-flex align-items-center boxed mb-3 flex-wrap">
            <div class="col-12 col-lg-4">
                <div class="form-check">
                    <label class="form-check-label d-flex align-items-center">
                        <input type="checkbox" class="form-check-input" name="question2[]" value=""> 
                        <span>BEC</span>
                    </label>
                </div>
            </div>
            <div class="col-12 col-lg-8 mb-3 mb-lg-0">
                <input type="text" class="form-control question2" name="question2text[]" placeholder="Please state what kind of support was extended">
            </div>
        </label>
        <label class="d-flex align-items-center boxed mb-3 flex-wrap">
            <div class="col-12 col-lg-4">
                <div class="form-check">
                    <label class="form-check-label d-flex align-items-center">
                        <input type="checkbox" class="form-check-input" name="question2[]" value=""> 
                        <span>Parish Ministry</span>
                    </label>
                </div>
            </div>
            <div class="col-12 col-lg-8 mb-3 mb-lg-0">
                <input type="text" class="form-control question2" name="question2text[]" placeholder="Please state what kind of support was extended">
            </div>
        </label>
        <label class="d-flex align-items-center boxed mb-3 flex-wrap">
            <div class="col-12 col-lg-4">
                <div class="form-check">
                    <label class="form-check-label d-flex align-items-center">
                        <input type="checkbox" class="form-check-input" name="question2[]" value=""> 
                        <span>Parishioners</span>
                    </label>
                </div>
            </div>
            <div class="col-12 col-lg-8 mb-3 mb-lg-0">
                <input type="text" class="form-control question2" name="question2text[]" placeholder="Please state what kind of support was extended">
            </div>
        </label>
        <label class="d-flex align-items-center boxed mb-3 flex-wrap">
            <div class="col-12 col-lg-4">
                <div class="form-check">
                    <label class="form-check-label d-flex align-items-center">
                        <input type="checkbox" class="form-check-input" name="question2[]" value=""> 
                        <span>ArchKL Ministries (if yes, please specify which ministry)</span>
                    </label>
                </div>
            </div>
            <div class="col-12 col-lg-8 mb-3 mb-lg-0">
                <input type="text" class="form-control question2" name="question2text[]" placeholder="Please state what kind of support was extended">
            </div>
        </label>
        <label class="d-flex align-items-center boxed mb-3 flex-wrap">
            <div class="col-12 col-lg-4">
                <div class="form-check">
                    <label class="form-check-label d-flex align-items-center">
                        <input type="checkbox" class="form-check-input" name="question2[]" value=""> 
                        <span>ArchKL Priests</span>
                    </label>
                </div>
            </div>
            <div class="col-12 col-lg-8 mb-3 mb-lg-0">
                <input type="text" class="form-control question2" name="question2text[]" placeholder="Please state what kind of support was extended">
            </div>
        </label>
        <label class="d-flex align-items-center boxed mb-3 flex-wrap">
            <div class="col-12 col-lg-4">
                <div class="form-check">
                    <label class="form-check-label d-flex align-items-center">
                        <input type="checkbox" class="form-check-input" name="question2[]" value=""> 
                        <span>Religious Sister/Brother</span>
                    </label>
                </div>
            </div>
            <div class="col-12 col-lg-8 mb-3 mb-lg-0">
                <input type="text" class="form-control question2" name="question2text[]" placeholder="Please state what kind of support was extended">
            </div>
        </label>
        <label class="d-flex align-items-center boxed mb-3 flex-wrap">
            <div class="col-12 col-lg-4">
                <div class="form-check">
                    <label class="form-check-label d-flex align-items-center">
                        <input type="checkbox" class="form-check-input" name="question2[]" value=""> 
                        <span>Other body within ArchKL (Please do share with us, if there is a body with ArchKL that has supported which we did not highlight.)</span>
                    </label>
                </div>
            </div>
            <div class="col-12 col-lg-8 mb-3 mb-lg-0">
                <input type="text" class="form-control question2" name="question2text[]" placeholder="Please state what kind of support was extended">
            </div>
           
        </label>
        <label class="d-flex align-items-center boxed mb-3 flex-wrap">
            <div class="col-12 col-lg-4">
                <div class="form-check">
                    <label class="form-check-label d-flex align-items-center">
                        <input type="checkbox" class="form-check-input" name="question2[]" value=""> 
                        <span>Other body outside of ArchKL. (If yes, please specify).</span>
                    </label>
                </div>
            </div>
            <div class="col-12 col-lg-8 mb-3 mb-lg-0">
                <input type="text" class="form-control question2" name="question2text[]" placeholder="Please state what kind of support was extended">
            </div>
        </label>
    </div>
</div>

