<div id="demographic">
    <div class="row mb-5 align-items-center">
        <div class="col-12 col-lg-4">I am:</div>
        <div class="col-12 col-lg-8">
            <label><input type="radio" name="age" value="13 - 17" checked>13 - 17 years old</label><br>
            <label><input type="radio" name="age" value="18 - 22">18 - 22 years old</label><br>
            <label><input type="radio" name="age" value="23 - 27">23 - 27 years old</label><br>
            <label><input type="radio" name="age" value="28 - 32">28 - 32 years old</label><br>
            <label><input type="radio" name="age" value="33 - 37">33 - 37 years old</label><br>
            <label><input type="radio" name="age" value="38 - 42">38 - 42 years old</label><br>
            <label><input type="radio" name="age" value="43 - 47">43 - 47 years old</label><br>
            <label><input type="radio" name="age" value="48 - 52">48 - 52 years old</label><br>
            <label><input type="radio" name="age" value="53 - 57">53 - 57 years old</label><br>
            <label><input type="radio" name="age" value="58 - 62">58 - 62 years old</label><br>
            <label><input type="radio" name="age" value="63 - 67">63 - 67 years old</label><br>
            <label><input type="radio" name="age" value="68 - UP">68 - above years old</label><br>
        </div>
    </div>
    <div class="row mb-5 align-items-center">
        <div class="col-12 col-lg-4">Currently I am living in:</div>
        <div class="col-12 col-lg-8">
            <select class="form-control" name="state">
                <option value="Johor">Johor</option>
                <option value="Kedah">Kedah</option>
                <option value="Kelantan">Kelantan</option>
                <option value="Melaka">Melaka</option>
                <option value="Negeri Sembilan">Negeri Sembilan</option>
                <option value="Pahang">Pahang</option>
                <option value="Perak">Perak</option>
                <option value="Perlis">Perlis</option>
                <option value="Pulau Pinang">Pulau Pinang</option>
                <option value="Sabah">Sabah</option>
                <option value="Sarawak">Sarawak</option>
                <option value="Selangor">Selangor</option>
                <option value="Terengganu">Terengganu</option>
                <option value="Kuala Lumpur">Wilayah Persekutuan Kuala Lumpur</option>
                <option value="Labuan">Wilayah Persekutuan Labuan</option>
                <option value="Putrajaya">Wilayah Persekutuan Putrajaya</option>
            </select>
        </div>
    </div>
    <div class="row mb-5 align-items-center">
        <div class="col-12 col-lg-4">Gender</div>
        <div class="col-12 col-lg-8">
            <label><input type="radio" name="gender" value="Male" checked>Male</label><br>
            <label><input type="radio" name="gender" value="Female">Female</label>
        </div>
    </div>
    
    <div class="row mb-5 align-items-center">
        <div class="col-12 col-lg-4">My current state of life:</div>
        <div class="col-12 col-lg-8">
            <select class="form-control" name="state_of_life">
                <option value="Lay person (Married)">Lay person (Married)</option>
                <option value="Lay person (Single)">Lay person (Single)</option>
                <option value="Archbishop / Bishop">Archbishop / Bishop</option>
                <option value="Diocesan Deacon">Diocesan Deacon</option>
                <option value="Diocesan Priest">Diocesan Priest</option>
                <option value="Religious Priest">Religious Priest</option>
                <option value="Religious Brother">Religious Brother</option>
                <option value="Religious Sister">Religious Sister</option>
            </select>
        </div>
    </div>
</div>