<div class="common-questions">
    <div class="mb-5">
        <h5 class="mb-3">Has ArchKL's efforts made you feel supported (spiritually, mentally, and emotionally), cared for and listened to? If yes, please specify which ministry.</h5>
        <div class="pl-5">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="archbishop" value="Yes" required> Yes
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="archbishop" value="No" required> No
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input others" name="archbishop" value="Others" required> Others (feel free to express yourself!)
                </label>
            </div>
            <div>
                <textarea name="archbishopOthers" class="form-control" rows="5" style="display:none" placeholder="Please indicate which ministries / office / efforts"></textarea>
            </div>
        </div>
    </div>
    
    <div class="mb-5">
        <h5 class="mb-3">Has your Parish Priest's (or any priest's) efforts made you feel supported spiritually, mentally, and emotionally cared for and listened to?</h5>
        <div class="pl-5">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="priest" value="Yes" required> Yes
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="priest" value="No" required> No
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input others" name="priest" value="Others" required> Others (feel free to express yourself!)
                </label>
            </div>
            <div>
                <textarea name="priestOthers" class="form-control" rows="5" style="display:none"></textarea>
            </div>
        </div>
    </div>
    
    <div class="mb-5">
        <h5 class="mb-3">Have the religious communities' (sisters' and brothers') efforts made you feel supported spiritually, mentally, and emotionally cared for and listened to?</h5>
        <div class="pl-5">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="religious" value="Yes" required> Yes
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="religious" value="No" required> No
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input others" name="religious" value="Others" required> Others (feel free to express yourself!)
                </label>
            </div>
            <div>
                <textarea name="religiousOthers" class="form-control" rows="5" style="display:none"></textarea>
            </div>
        </div>
    </div>
    
    <div class="mb-5">
        <h5 class="mb-3">Have your Parish lay leadership (BECs, PPC, PCC, etc)'s efforts made you feel supported spiritually, mentally, and emotionally cared for and listened to?</h5>
        <div class="pl-5">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="lay" value="Yes" required> Yes
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="lay" value="No" required> No
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input others" name="lay" value="Others" required> Others (feel free to express yourself!)
                </label>
            </div>
            <div>
                <textarea name="layOthers" class="form-control" rows="5" style="display:none"></textarea>
            </div>
        </div>
    </div>
    
    <div class="mb-5">
        <h5 class="mb-3">Through the events during the pandemic, do you still feel the importance and necessity of the Sacred Sacrements provided by the Catholic Church post pandemic (Mass/Eucharist, Confirmation, Anointing, Confession, Marriage, etc)?</h5>
        <div class="pl-5">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="sacraments" value="Yes" required> Yes
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="sacraments" value="No" required> No
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input others" name="sacraments" value="Others" required> Others (feel free to express yourself!)
                </label>
            </div>
            <div>
                <textarea name="sacramentsOthers" class="form-control" rows="5" style="display:none"></textarea>
            </div>
        </div>
    </div>
    
    <div class="mb-5">
        <h5 class="mb-3">Through the events during the pandemic, do you still feel the importance and necessity of community life in the parish by means of BECs, parish ministries/events/fellowship post pandemic? </h5>
        <div class="pl-5">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="community" value="Yes" required> Yes
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="community" value="No" required> No
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input others" name="community" value="Others" required> Others (feel free to express yourself!)
                </label>
            </div>
            <div>
                <textarea name="communityOthers" class="form-control" rows="5" style="display:none"></textarea>
            </div>
        </div>
    </div>
    
    <div class="mb-5">
        <h5 class="mb-3">In your opinion, has ArchKL been in the forefront towards responding to the needs and care of the vulnerable during this pandemic in Malaysia?</h5>
        <div class="pl-5">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="responding" value="Yes" required> Yes
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="responding" value="No" required> No
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input others" name="responding" value="Others" required> Others (feel free to express yourself!)
                </label>
            </div>
            <div>
                <textarea name="respondingOthers" class="form-control" rows="5" style="display:none"></textarea>
            </div>
        </div>
    </div>
    
    <div class="mb-5">
        <h5 class="mb-3">Do you feel called to (fulltime employment) service within Catholic Church ?</h5>
        <div class="pl-5">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="employment" value="Yes - Priesthood" required> Yes - Priesthood
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="employment" value="Yes - Religious Life" required> Yes - Religious Life
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="employment" value="Yes - Social Lay worker" required> Yes - Social Lay worker in Church
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="employment" value="Yes - Pastoral Lay worker" required> Yes - Pastoral Lay worker in Church
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="employment" value="Yes - Catechist / Religious Educator" required> Yes - Catechist / Religious Educator
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="employment" value="No" required> No
                </label>
            </div>
        </div>
    </div>
    <hr class="my-5">
    <!--<div class="mb-5">-->
    <!--    <h5 class="mb-3">Was this survey inclusive of all the areas of your lived realities?</h5>-->
    <!--    <div class="pl-5">-->
    <!--        <div class="form-check">-->
    <!--            <label class="form-check-label">-->
    <!--                <input type="radio" class="form-check-input" name="inclusive" value="0" required> Not at all-->
    <!--            </label>-->
    <!--        </div>-->
    <!--        <div class="form-check">-->
    <!--            <label class="form-check-label">-->
    <!--                <input type="radio" class="form-check-input" name="inclusive" value="1" required> Slightly-->
    <!--            </label>-->
    <!--        </div>-->
    <!--        <div class="form-check">-->
    <!--            <label class="form-check-label">-->
    <!--                <input type="radio" class="form-check-input" name="inclusive" value="2" required> Somewhat-->
    <!--            </label>-->
    <!--        </div>-->
    <!--        <div class="form-check">-->
    <!--            <label class="form-check-label">-->
    <!--                <input type="radio" class="form-check-input" name="inclusive" value="3" required> Very-->
    <!--            </label>-->
    <!--        </div>-->
    <!--        <div class="form-check">-->
    <!--            <label class="form-check-label">-->
    <!--                <input type="radio" class="form-check-input" name="inclusive" value="4" required> Extremely-->
    <!--            </label>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->

    <div class="mb-5">
        <h5 class="mb-3">How easily did you understand the questions in this survey?</h5>
        <div class="pl-5">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="understand" value="0" required> Not at all easy
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="understand" value="1" required> Slightly easy
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="understand" value="2" required> Somewhat easy
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="understand" value="3" required> Very easy
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="understand" value="4" required> Extremely easy
                </label>
            </div>
        </div>
    </div>
    <div class="mb-5">
        <h5 class="mb-3">Please do share any feedback on how we might be able to improve this survey, if any</h5>
        <div>
            <textarea name="feedback" class="form-control" rows="5"></textarea>
        </div>
    </div>
</div>




<div class="row justify-content-center">
    <div class="col-6"><button class="btn btn-success w-100" type="submit" name="submit">Hantar (Submit)</button></div>
</div>