<p>Dear ==name==,</p> 
    
<p style="text-indent:20px;">Thank you for expressing interest in volunteering for the fight against COVID-19. The next step on this journey is to complete the Online COVID-19 Training Course which will make you eligible to be a volunteer at the Low Risk COVID-19 Quarantine and Treatment Centre. Below are some details of this course:</p> 

<ul>
    <li>
        <span style="text-decoration:underline;font-weight:bold;">Link</span><br>
        <span>Go to <a href="www.openlearning.com/courses/covid-19-online-training" target="_blank">www.openlearning.com/courses/covid-19-online-training</a>  and click ‘<b>Join now</b>’ to begin the course</span>
    </li>
    <li>
        <span style="text-decoration:underline;font-weight:bold;">Modules</span><br>
        <span>There are 11 modules to be completed requiring an average of 30 mins to complete each module</span>
    </li>
    <li>
        <span style="text-decoration:underline;font-weight:bold;">Certificate</span><br>
        <span>You will be awarded with a digital certificate which is required to be uploaded when registering with CREST</span>
    </li>
</ul>
<p>We encourage you to complete this course as soon as possible. </p>

<p>Upon completion of the Online COVID-19 Training Course, kindly proceed to register yourself as a volunteer with CREST at <a href="https://www.crestmalaysia.org/index.php/contact-us/sign-up-as-volunteer" target="_blank">https://www.crestmalaysia.org/index.php/contact-us/sign-up-as-volunteer</a> and you will be included into CREST’s list of volunteers to be assigned when needed once the project commences 😊 </p>

<p>You are welcome to join a study group where we will go through some modules together and also have a short briefing on this project. Please do join us on the following dates if you are interested:</p>

<ul>
    <li>
        <span>Dates:</span>
        <ol>
            <li>August 13th, Friday, 8pm</li>
            <li>August 20th, Friday, 8pm</li>
            <li>August 27th, Friday, 8pm</li>
        </ol>
    </li>
    <li>
        <span>Google Meet Link: <a href="meet.google.com/xxp-ucsd-fgo" target="_blank">meet.google.com/xxp-ucsd-fgo</a></span>
    </li>
</ul>

<p>Kindly do check your email regularly for more updates on the commencement of the project and the location of the quarantine centre as it is still in the process of being approved. </p>

<p>Should you have any questions or would like to communicate with us, do reach out to us at <a href="mailto:info@asayokl.my">info@asayokl.my</a>! </p>

<p>We value your interest and efforts in wanting to be part of this fight against COVID-19 and look forward to being on this journey together!</p>

<p>Stay safe, and may God bless you.</p>

<hr>
<p>
Pastoral Team<br>
ASAYO Kuala Lumpur
</p>
<br>

<p><b><i><font color='red'>This is a no reply email. Please do not reply to this email.</font></i></b></p>
