<p>Dear ==name==,</p> 
    
<p style="text-indent:20px;">
    Good news! The Low-Risk Quarantine and Treatment Centre [PKRCS (Pusat Kuarantin dan Rawatan Covid-19 Swasta)] has been approved by the relevant authorities and this project is set to take off soon. So gear up to join the fight against COVID-19 😊 
    <br>Here are a few updates for you:
</p> 

<ul>
    <li>
        <span style="text-decoration:underline;font-weight:bold;">Location of PKRCS</span><br>
        <span>Travelodge City Centre, Kuala Lumpur.</span>
    </li>
    <li>
        <span style="text-decoration:underline;font-weight:bold;">Date of commencement</span><br>
        <span>5th August 2021 (TBC)</span>
    </li>
</ul>

<p>
    Well done if you have completed the Online COVID-19 Training Course! 
    <br>Upon completion of the Online COVID-19 Training Course, kindly proceed to register yourself as a volunteer with CREST at <a href="https://www.crestmalaysia.org/index.php/contact-us/sign-up-as-volunteer" target="_blank">https://www.crestmalaysia.org/index.php/contact-us/sign-up-as-volunteer</a> and you will be included into CREST’s list of volunteers to be assigned when needed. 
</p>

<ul>
    <li>
        <span style="text-decoration:underline;font-weight:bold;">Important criteria to take note before registering with CREST</span>
        <ul>
            <li>You need to have received at least the 1st dose of your vaccination.</li>
            <li>You need to have completed the Online COVID-19 Training Course and obtain the digital certificate</li>
        </ul>
    </li>
</ul>


<p>
    If you have not yet completed the course, kindly do so at the link below and complete the 11 modules required to receive your certification. 
</p>

<ul>
    <li>
        Go to <a href="www.openlearning.com/courses/covid-19-online-training" target="_blank">www.openlearning.com/courses/covid-19-online-training</a> and click ‘<b>Join now</b>’ to begin the course
    </li>
</ul>

<p>
    Here is also the updated list of roles available to volunteer:
</p>

<ol type="a">
    <li>
        Non-clinical roles <b><i>(urgent need)</i></b>
        <ul>
            <li>Reception</li>
            <li>Food & Beverage</li>
            <li>Cleaning & Sanitization</li>
            <li>Building Maintenance</li>
            <li>Ambulance Driver (preferably with ambulance/van</li>
        </ul>
    </li>
    <li>
        Clinical roles <b><i>(urgent need)</i></b>
        <ul>
            <li>Doctors</li>
            <li>Nurses</li>
            <li>Medical Assistants</li>
            <li>Paramedics</li>
        </ul>
    </li>
</ol>

<p><i>
    **If you have previously expressed interest to volunteer in Inventory, Transport, IT & Comm, kindly note these roles are not available anymore. Please do consider taking up the volunteer roles that are most urgently in need now. 
</i></p>

<p>
    Attached is a list of FAQs for your kind attention. Please browse through it for the latest updates to your most asked questions.
</p>

<p>Should you have any questions or would like to communicate with us, do reach out to us at <a href="mailto:info@asayokl.my">info@asayokl.my</a>! </p>

<p>Stay safe, and may God bless you.</p>

<hr>
<p>
Pastoral Team<br>
ASAYO Kuala Lumpur
</p>
<br>

<p><b><i><font color='red'>This is a no reply email. Please do not reply to this email.</font></i></b></p>
